@import './mixins';
@import './fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}

body {
  background-color: #fff;
  color: #333;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  font-weight: 400;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6,  .h6{
  font-weight: 900;
  margin-bottom: .5rem;
  margin-top: 0;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

ul,
ol {
  margin-top: 0.5rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

// Use native text-decoration instead of border-bottom. Additional
// text-decoration properties will fall back gracefully on older browsers
// without any side effects.
a {
  text-decoration-color: currentColor;
  text-decoration-thickness: .1rem;

  &:focus,
  &:active {
    outline-style: dotted;
    outline-width: .12rem;
  }
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 0 0 1rem;
}

.column {
  @include axis-margin("auto", "x");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 100%;

  @media only screen and (min-width:576px) and (max-width: 991px) {
    -ms-flex-preferred-size: 66.666666667%;
    flex-basis: 66.666666667%;
    max-width: 66.666666667%;
  }

  @media only screen and (min-width:992px) {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}

.footer {
  border-top: solid 1px lighten(#333, 70%);
  padding-top: 1rem;
}
